*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container{
 background-color: #763198;
 height: 100vh;
 display: flex;
 justify-content:center;
 align-items: center;
}
.form-container{
  background-color: white;
  border-radius: 5px;
  display: flex;
  gap: 3em;
  align-items: center;
  width: 530px;
  padding: 2em;
}
.choice-container{
  display: flex;
  gap: 1em;
  align-items: center;
}
.left-section{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 170px;
}
.right-section{
  display: flex;
  flex-direction: column;
}
.step-no{
  background-color: rgb(226, 216, 216);
  opacity: 0.9;
  border-radius: 50%;
  width: 24px;
  text-align: center;
  padding: 2px;
  pointer-events: none;
}
.active-step{
  background-color: #1D66A5;
  color: white;
  cursor: pointer;
  pointer-events: initial;
}
.can-be-activated{
  cursor: pointer;
  pointer-events: initial;
}
.done{
  pointer-events: none;
}
.button{
  background-color: rgb(218, 211, 211);
  padding: 9px 10px;
  text-align: center;
  align-self: flex-start;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}
.section-title{
  margin-bottom: 1em;
}
.button-group{
  display: flex;
  gap: 1em;
}